*.bat
*.code-workspace
*.json
*.psd
*.aseprite
ships/terran/Weapons/turbolasers/Turbolasers_Siege_12x12/floor06[2,2]01.psd
ships/terran/Weapons/turbolasers/Turbolasers_Siege_12x12/floor06[2,2]01.psd
ships/terran/Armor/Doonium/DooniumSpriteSheet.aseprite
ships/terran/armor/desktop.ini
**/concepts/
**/concepts/*
decals_list.rules
roof_decals/_decals_list_overrides.rules
roof_decals/full_decals_list.rules
.continue/*
.continue/docs/new-doc.yaml
.continue/mcpServers/new-mcp-server-1.yaml
.continue/mcpServers/new-mcp-server-2.yaml
.continue/mcpServers/new-mcp-server-3.yaml
.continue/mcpServers/new-mcp-server.yaml
ships/terran/weapons/turbolasers/Turbolasers_Huge/backup/*
ships/terran/Reactor/hypermatter/reactor_giga/Backup/0cd22337-2629-4475-ba3d-288c24c6d22a.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/5cfdb80b-ddf7-4546-8681-6f5e97bfd89d.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/9b85e82d-f7e6-4493-a26e-dd9d9cc4948b.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/488a2734-300f-4935-857a-3717e230ac2b.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/7041650d-1654-4964-bc58-bff452219369.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/b247712c-4963-4626-b890-2c3475899003.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/c6d46a65-3463-4da8-bce4-99a6b475e1d3.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/c2630512-c9ca-48e8-8d8e-e538c1a7d5ca.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/d8028b35-cf91-4ba1-a6e2-958da5d668d7.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/e20a21a8-290b-489b-9fa3-d2f5651c2f30.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/edf9834a-3400-4b6c-b7f1-0935b069e5fa.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/f01c1267-d286-48ea-8b75-c4e9c113cf07.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/ff49f252-71e3-4942-a06c-3b6b19b35609.png
ships/terran/Reactor/hypermatter/reactor_giga/Backup/Reactor Concept.png
ships/terran/thrusters/Ion/Ion_Common/Nozzle_Covers/LG/backup/*
ships/terran/thrusters/Ion/Ion_Common/Nozzle_Covers/MED/backup/*
ships/terran/thrusters/Ion/Ion_Common/Nozzle_Covers/SM/backup/*
ships/terran/control_rooms/bridges/Bridge_2x3/backups/*
ships/terran/control_rooms/bridges/Bridge_3x2/_prototypes/*
ships/terran/control_rooms/bridges/Bridge_2x3/3ba1fb9b-55a3-46c3-b0b7-354626e9ea89.png
ships/terran/control_rooms/bridges/Bridge_2x3/9b469fb8-0acd-425b-b480-b76fb19a3ddd.png
ships/terran/control_rooms/bridges/Bridge_2x3/88e10b2f-3e7d-44fa-b6dc-ba3608f7ae5c.png
ships/terran/control_rooms/bridges/Bridge_2x3/4772190d-3776-4573-b1e8-d7f7815a95d1.png
ships/terran/thrusters/Ion/Ion_Common/Nozzle_Covers/SM/72d4e055-132c-4aba-8fc5-144de3d6673e.png
backup.zip
ships/terran/Reactor/hypermatter/reactor_giga/Backup/*
