*.bat
*.code-workspace
*.json
*.psd
*.aseprite
ships/terran/Weapons/turbolasers/Turbolasers_Siege_12x12/floor06[2,2]01.psd
ships/terran/Weapons/turbolasers/Turbolasers_Siege_12x12/floor06[2,2]01.psd
ships/terran/Armor/Doonium/DooniumSpriteSheet.aseprite
ships/terran/armor/desktop.ini
**/concepts/
**/concepts/*
decals_list.rules
roof_decals/_decals_list_overrides.rules
roof_decals/full_decals_list.rules
ships/terran/armor/checker.py
